* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

header {
    background: url(images/donation2.jpg);
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: rgb(219, 13, 13);
    text-shadow: 1px 1px 1px rgb(253, 229, 229);
    background: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%; );
}

p {
    color: rgba(13, 3, 59, 0.968);
    font-size: 28px;
}

h1 {
    font-family: cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

p {
    font-family: sans-serif;
    margin-bottom: 30px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 35px 55px;
    border-radius: 22px;
    font-size: xx-large;
}

#donate-now {
    text-align: center;
}

.tkpoisa {
    display: flex;
    margin-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.alu {
    width: 25%;
    height: 100%;
    padding-left: 15px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0.4px 0.4px 0.4px gray;
    font-style: italic;
}

#ata {
    width: 25%;
    height: 35%;
    margin: 5px;
    box-shadow: 2px 2px 4px red;
    color: red;
}

#center {
    text-align: center;
}